DATABASE_URL="postgresql://prj_blog:YOUR_PASSWORD@localhost:5432/blog"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3001"
NEXT_PUBLIC_SITE_URL="http://localhost:3001"
ENABLE_AUTH="true"
POSTGRES_PASSWORD=changeme
